.wine-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vw;
}
.wine-content{
    display: flex;
    flex-direction: row-reverse;
    color: #fff;
    font-family: 'loto';
    font-size: 1.7vw;
    margin: 4vw -20vw 5vw 0;
}
.wine-content>div{
    margin-right: 2vw;
}
.wine-content>.text-about{
    font-size: 2vw;
    padding-left: 17vw;
    text-align: right;
}
.number3{
    width: 28vw;
    height: 40vw;
    background: url(../public/wine1.jpg) no-repeat;
    background-size: cover;
}
.number4{
    width: 28vw;
    height: 40vw; 
    background: url(../public/wine2.jpg) no-repeat;
    background-size: cover;
}
.wine-card>.wine-content>.text-about>.read-more>.line{
    width: 10%;
}